@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root{
    --font_heyon:"Do Hyeon", sans-serif;
    --font_lato:"Lato", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.layout{
    background-image:url(../../public/home_bg.png);
    background-attachment:fixed;
    background-position:center center;
}

@media(max-width:700px){
    .layout{
        background-image: none;
        background-color: #2b2b2b;
    }
}
