@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

:root{
    --font_heyon:"Do Hyeon", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}